body.with_bigmap {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body.with_bigmap .navbar {
	margin-bottom: 0;
}

.bigmap-menu {

	@media (min-width: @screen-sm-min) {
		width: 30%;
		max-width: 400px;
		height: 100%;
		float: left;
	}

	.panel {
		margin-bottom: 0.5em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

#map {
	width: 70%;
	height: 100%;

	@media (max-width: @screen-sm-min) {
		display: none;
	}

	.infowindow {
		width: 400px;
	}
}
